<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>576196499899-64b9179g789khvjv8q1idqvet829bpvj.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Resources/Fonts/Manrope-Medium.ttf</string>
		<string>Resources/Fonts/Manrope-SemiBold.ttf</string>
		<string>Resources/Fonts/Manrope-Bold.ttf</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>VitalSense usa Bluetooth para conectarse a sensores de salud</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>VitalSense usa Bluetooth para conectarse a sensores de salud</string>
	<key>NSHealthShareUsageDescription</key>
	<string>VitalSense lee tus datos de salud para monitoreo</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>VitalSense actualiza tus datos de salud</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.576196499899-64b9179g789khvjv8q1idqvet829bpvj</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
