<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>BioMetric AI</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.576196499899-64b9179g789khvjv8q1idqvet829bpvj</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GEMINI_API_KEY</key>
	<string>AIzaSyBBGay1JhANrk5jh2fNbKa84fwjvki5S_E</string>
	<key>GIDClientID</key>
	<string>576196499899-64b9179g789khvjv8q1idqvet829bpvj.apps.googleusercontent.com</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>VitalSense usa Bluetooth para conectarse con el sensor wearable VitalSense y recibir signos vitales en tiempo real.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>VitalSense usa Bluetooth para conectarse con el sensor wearable VitalSense y recibir signos vitales en tiempo real.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>VitalSense usa Face ID para proteger tu información de salud</string>
	<key>NSHealthShareUsageDescription</key>
	<string>VitalSense necesita acceso a tus datos de salud para mostrar frecuencia cardíaca, SpO₂, sueño y calorías de tu Apple Watch en tiempo real.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>VitalSense guarda registros de tus signos vitales para generar reportes y alertas de emergencia.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>VitalSense incluye tu ubicación en las alertas SOS para que tus contactos de emergencia puedan localizarte.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>VitalSense envía alertas de salud críticas, predicciones de enfermedades crónicas y recordatorios de medicamentos basados en tus signos vitales.</string>
	<key>UIAppFonts</key>
	<array>
		<string>manrope_medium.ttf</string>
		<string>manrope_semibold.ttf</string>
		<string>manrope_bold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
